.contentArea {
  position: absolute;
  bottom: 0%;
  width: 100%;
}
.vedioArea {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: relative;
}

.vedioArea dev {
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

@media screen and (max-width: 851px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: flex-end;
  }
  .button {
    margin-right: 10px;
    justify-content: center;
  }
}
