.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #de8b05;
}

.content p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
  color: #1e2722;
}
