.contentArea {
  position: absolute;
  height: 248px;
  width: 644px;
  top: 23%;
  left: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentArea h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #de8b05;
}
.contentArea p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

.green {
  background: #195f34;
  border: 2px solid #2c9a42;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  width: 161px;
  height: 45px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 800;
  margin: 0 5px 0;
}

@media screen and (max-width: 1000px) {
  .contentArea {
    height: 40%;
    width: 80%;
    top: 30%;
    left: 10%;
  }
}

@media screen and (max-width: 851px) {
  .contentArea {
    height: 40%;
    width: 80%;
    top: 30%;
    left: 10%;
  }
}
