@font-face {
  font-family: "Berthold";
  src: url("../fonts/bag.ttf");
  font-weight: regular;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Berthold";
  src: url("../fonts/bag-bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Berthold";
  src: url("../fonts/bag-condensed.ttf");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Berthold";
  src: url("../fonts/bag-extra-bold.ttf");
  font-weight: extra-bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Berthold";
  src: url("../fonts/bag-bold-condensed.ttf");
  font-weight: semi-bold;
  font-style: normal;
  font-display: swap;
}

html body {
  font-family: "Berthold";
}

/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1449px) {
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .irish {
    /* background-image: url("../images/mb-bg.png"); */
    background-position: center center;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    align-items: end;
    background-repeat: no-repeat;
    width: 100%;
  }

  .subscribe-area {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    margin-left: 20px;
  }
  .subscribe-area p {
    font-size: 15px;
  }
  .subscribe input {
    width: 210px;
    height: 44px;
    background: rgba(0, 0, 0, 0.25);
    border: 3px solid #d59f38;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    font-family: "Berthold";
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
    color: #fff;
  }
  .subscribe button {
    background: #195f34;
    border: 2px solid #d59f38;
    box-sizing: border-box;
    border-radius: 50px;
    width: 105px;
    height: 44px;
    font-family: "Berthold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
  }
  .subscribe-area img {
    width: 280px;
  }
}

/* SM Small Device :320px. */
@media only screen and (max-width: 767px) {
  .irish {
    /* background-image: url("../images/mb-bg.png"); */
    background-position: center center;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    align-items: end;
    background-repeat: no-repeat;
    width: 100%;
  }
  .subscribe-area {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    margin-left: 20px;
  }
  .subscribe-area p {
    font-size: 15px;
  }
  .subscribe input {
    width: 210px;
    height: 44px;
    background: rgba(0, 0, 0, 0.25);
    border: 3px solid #d59f38;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    font-family: "Berthold";
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
    color: #fff;
  }
  .subscribe button {
    background: #195f34;
    border: 2px solid #d59f38;
    box-sizing: border-box;
    border-radius: 50px;
    width: 105px;
    height: 44px;
    font-family: "Berthold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
  }
  .subscribe-area img {
    width: 280px;
  }

  .confirm {
    /* background-image: url("../images/bg2-mb.png"); */
    background-position: center center;
    background-size: 100% 100%;
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
  }
  .confirmation p {
    max-width: 392px;
    height: auto;
    font-family: "Berthold";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #1e2722;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* SM Small Device :550px.
@media only screen and (min-width: 576px) and (max-width: 767px) {
} */

@keyframes draw-in {
  to {
    stroke-dashoffset: 0;
  }
}

#letter-m {
  animation: draw-in 0.8s cubic-bezier(0.37, 0, 0.63, 1) both;
}

#letter-a1 {
  animation: draw-in 0.6s 0.8s cubic-bezier(0.37, 0, 0.63, 1) both;
}

#letter-r1 {
  animation: draw-in 0.3s 1.4s cubic-bezier(0.61, 1, 0.88, 1) both;
}

#letter-ri {
  animation: draw-in 0.6s 1.7s cubic-bezier(0.37, 0, 0.63, 1) both;
}

#letter-ah {
  animation: draw-in 1s 2.3s cubic-bezier(0.37, 0, 0.63, 1) both;
}

#heart-1 {
  animation: draw-in 0.3s 3.3s cubic-bezier(0.37, 0, 0.63, 1) both;
}

#heart-2 {
  animation: draw-in 0.4s 3.6s cubic-bezier(0.37, 0, 0.63, 1) both;
}
