* {
  margin: 0;
  padding: 0;
}

.irish {
  /* background-image: url("../images/bg.png"); */
  background-position: center center;
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  align-items: end;
  background-repeat: no-repeat;
  width: 100%;
}

.signature-img svg {
  max-width: 90vw;
  max-height: 90vh;
  width: 700px;
}
.subscribe-area {
  margin-bottom: 100px;
  margin-left: 100px;
}
.subscribe-area p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin-bottom: 7px;
}
.subscribe input {
  width: 300px;
  height: 60px;
  background: rgba(0, 0, 0, 0.25);
  border: 3px solid #d59f38;
  box-sizing: border-box;
  border-radius: 50px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}
.subscribe button {
  background: #195f34;
  border: 2px solid #d59f38;
  box-sizing: border-box;
  border-radius: 50px;
  width: 143px;
  height: 60px;
  transition: 0.3s;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  margin-left: 6px;
  cursor: pointer;
}
.subscribe button:hover {
  background: #d59f38;
  border-color: #195f34;
}

/* confirm-page */
.confirm {
  /* background-image: url("../images/bg2.jpg"); */
  background-position: center center;
  background-size: 100% 100%;
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
}
/* .confirmation a img {
  
  object-fit: contain;
} */
.confirmation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.confirm-btn-part h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.confirm-btn-part a {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  width: 131px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 2px solid;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 10px;
}
.confirm-btn {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.yes-btn {
  border-color: #195f34 !important;
  background: #d59f38;
}
.no-btn {
  background: #195f34;
  border-color: #d59f38 !important;
}
.confirmation p {
  max-width: 392px;
  height: 63px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #1e2722;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
}
.confirm-btn-part a.yes-btn:hover {
  background: #195f34;
  border-color: #d59f38 !important;
}
.confirm-btn-part a.no-btn:hover {
  background: #d59f38;
  border-color: #195f34 !important;
}

@keyframes draw-in {
  to {
    stroke-dashoffset: 0;
  }
}

#letter-m {
  animation: draw-in 0.8s cubic-bezier(0.37, 0, 0.63, 1) both;
}

#letter-a1 {
  animation: draw-in 0.6s 0.8s cubic-bezier(0.37, 0, 0.63, 1) both;
}

#letter-r1 {
  animation: draw-in 0.3s 1.4s cubic-bezier(0.61, 1, 0.88, 1) both;
}

#letter-ri {
  animation: draw-in 0.6s 1.7s cubic-bezier(0.37, 0, 0.63, 1) both;
}

#letter-ah {
  animation: draw-in 1s 2.3s cubic-bezier(0.37, 0, 0.63, 1) both;
}

#heart-1 {
  animation: draw-in 0.3s 3.3s cubic-bezier(0.37, 0, 0.63, 1) both;
}

#heart-2 {
  animation: draw-in 0.4s 3.6s cubic-bezier(0.37, 0, 0.63, 1) both;
}

.logo_wrap {
  width: 250px;
  height: 250px;
  margin-top: 25px;
}
